{{ define "main" }}


<header>

<img src="/images/iori-yagami.gif" alt="Iori Yagami" style="margin-left:-10%"/>
   
{{ partial "searchbox.html" }}
       <h1>{{ $.Site.Title }}  </h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
    {{- end -}}

</header>


{{ .Content }}
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}


<h3>#Hastags</h3> <!-- DISPLAY TAGGING -->
<ul>
  {{ range .Site.Taxonomies.tags }}
    <li>
      <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }})
    </li>
  {{ else }}
    <li>No tags found.</li>
  {{ end }}
   <li><a href="{{ .Site.BaseURL }}index.xml">RSS</a></li>
</ul>
<br>
{{ end }}

